<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
			<beans>
			<bean id="jre" class="bean.JRE" depends-on="jvm" ></bean>
			<bean id="jdk" class="bean.JDK" depends-on="jre" ></bean>
			<bean id="jvm" class="bean.JVM"  ></bean>
			</beans>